node_modules
**/node_modules

**/.env
**/.env.*
!**/.env.template
*.pem
*.key
*firebase-adminsdk*.json
*service-account*.json
*serviceAccount*.json

.git
.gitignore

.turbo
**/.turbo

apps/backend/.medusa
**/.next
**/dist
**/out

npm-debug.log*
